.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out, opacity 1.2s ease-in-out;
    z-index: 9999;
    opacity: 1;
}

.loader-text {
    color: #38bdf8;
    font-size: 3rem;
    font-weight: bold;
    animation: textFadeIn 1.2s ease-in-out;
}

/* Fade in text when loader appears */
@keyframes textFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Fade + slide up when hiding */
.slide-up-fade {
    transform: translateY(-100%);
    opacity: 0;
}